<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='home.png') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/802c1d8f7e.js" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    {% include 'includes/nav.html'%}
    <div class="container mx-auto">
        {% include 'includes/messages.html'%}
        {% block body %} {% endblock %}
    </div>
    <script>

        var alert_del = document.querySelectorAll('.alert-del');
        alert_del.forEach((x) =>
            x.addEventListener('click', function () {
                x.parentElement.classList.add('hidden');
            })
        );
    </script>
</body>

</html>